*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Titillium Web', sans-serif;
	color: #848586;
	font-size: 16px;
}

a {
	text-decoration: none;
}

.btn {
	display: inline-block;
	padding: 8px 20px;
	color: #474747;
	font-weight: bold;
}

.btn-sign-up {
	background: rgb(79,48,123);
	background: linear-gradient(to top left, #6276cd, #582c7e);
	border-radius: 25px;
	color: white;
	transition: box-shadow 0.2s ease-in-out;
}

.btn-sign-up:hover {
	box-shadow: 0px 5px 10px 3px rgba(79,48,123,0.3), 
        		0px 8px 10px 3px rgba(0,212,255,0.3);
}

.btn i {
	font-size: 14px;
	margin-right: 7px;
}

.share-buttons {
	position: absolute;
	right: 15px;
	top: 5px
}

/* === Header === */
header {
	margin-top: 78px;
}

.slash {
	margin: 0px 8px;
}

.bold {
	font-weight: bold;
}

.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.logo {
	font-size: 30px;
	font-weight: bold;
}

.navigation {
	padding-top: 8px;
	float: left;
}

.login {
	float: right;
}

.navigation-item {
	cursor: pointer;
	margin-right: 25px;
}

.language-container {
	margin-top: 15px;
}

.language-item {
	margin: 0;
	font-size: 12px;
}

.navigation-item:last-child {
	margin-right: 0px;
}

.navigation-item:hover {
	text-decoration: underline;
}

.container {
	margin: 0 200px;
}

.p-text {
	color: #554491;
}
/* ============== */

/* === Main === */
main {
	margin-top: 80px;
}

.picture {
	margin: 0px 50px;
	background: url("../img/header-background.png");
	height: 450px;
	background-position: 0px -240px;
	background-size: cover;
	text-align: center;
	position: relative;
}

.picture-buttons {
	margin-top: 40px;
	position: relative;
	text-align: center;
}

.picture h1 {
	font-size: 46px;
}

.picture h2 {
	font-size: 28px;
	font-weight: 400;
}

.picture-buttons > a {
	margin-left: 15px;
}

.picture-buttons > a > div i {
    padding: 10px;
    width: 38px;
    font-size: 18px;
}


.picture-buttons > a:first-child {
	margin-left: 0px;
}

/* ============ */

/* Advantages */
.advantages {
	margin: 0 50px;
	display: flex;
	justify-content: center;
	position: relative;
}

.advantages-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.advantages-item {
	flex-basis: 25%;
	margin-left: 50px;
}

.advantages-item:first-child {
	margin-left: 0;
}

.advantages-header-item {
	line-height: 22px;
}

.advantages-header-item div {
	font-size: 27px; 
	color: black;
}

.advantages-info {
	word-wrap: normal;
	padding-left: 15px;
	font-size: 12px;
}

.palka1 {
	position: absolute;
	height: 140px;
	width: 1px;
	background-color: grey;
	left: 36%;
	top: -70px;
}

/* =========== */