*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Titillium Web', sans-serif;
	color: #848586;
	font-size: 16px;
}

a {
	text-decoration: none;
}

header {
	margin-top: 78px;
}

.slash {
	margin: 0px 8px;
}

.bold {
	font-weight: bold;
}

.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.logo {
	font-size: 30px;
	font-weight: bold;
}

.navigation {
	padding-top: 8px;
	float: left;
}

.login {
	float: right;
}

.navigation-item {
	cursor: pointer;
	margin-right: 25px;
}

.language-container {
	margin-top: 15px;
}

.language-item {
	margin: 0;
	font-size: 12px;
}

.navigation-item:last-child {
	margin-right: 0px;
}

.navigation-item:hover {
	text-decoration: underline;
}

.btn {
	display: inline-block;
	padding: 8px 20px;
	color: #474747;
	font-weight: bold;
}

.btn-sign-up {
	background: rgb(79,48,123);
	background: linear-gradient(150deg, rgba(79,48,123,1) 33%, rgba(0,212,255,1) 100%);
	border-radius: 25px;
	color: white;
	transition: box-shadow 0.2s ease-in-out;
}

.btn-sign-up:hover {
	box-shadow: 0px 5px 10px 3px rgba(79,48,123,0.3), 
        		0px 8px 10px 3px rgba(0,212,255,0.3);
}

.btn i {
	font-size: 14px;
	margin-right: 7px;
}

.container {
	margin: 0 200px;
}

.p-text {
	color: #554491;
}